<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Password</th>
      <th>Frist name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Pin code</th>
      <th>Phone no</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.password %></td>
        <td><%= user.frist_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address %></td>
        <td><%= user.pin_code %></td>
        <td><%= user.phone_no %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'PDF' , user_path(user,format: :pdf), class: "mr-5"%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
