<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <div>
      <i class="fa fa-gift  w3-bar-item w3-padding-small" style = "font-size: 40px; color:yellow; padding-left:10px; margin-right:-11px; margin-top:11px; margin-left:28px;"> </i>
      <%= link_to "Giftry" , root_path , class: "w3-bar-item w3-button  w3-text-white", style: "font-family: 'Permanent Marker', cursive;
       font-family: 'Roboto Slab', serif; font-size: 37px; padding-left:-3px;" %>
    </div> 
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-white" style = "font-size: 24px;">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-white"style = "font-size: 24px;">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-white" style = "font-size: 24px;">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-white" style = "font-size: 24px;">CONTACT</a>
     
    <% if user_signed_in? %>
          <% @user = current_user%>
            <h3><%=@user.stripe_customer_id%></h3>
            
        <div class = "float-right">
        <% if @user.image.attached? %>
              <%= link_to user_path(@user.id) do %>       
                <%= image_tag @user.image.variant(resize_to_limit: [40,40]),style:"margin-top:15px;border-radius:50%;"%>
              <%end%>
          <%end%>
       
          
          <%#------------ logout btn-------------- %>
          <%= link_to "Log Out", destroy_user_session_path , method: :delete, class: "nav-item m-3 text-white text-decoration-none btn btn-danger"%>
          
            <%# cart btn -------------  %>
          <div onclick="document.getElementById('id01').style.display='block'" class="btn btn-primary mr-5" >
          <i class="fa fa-shopping-cart f-20"> <%= @cart.size %></p></i>
          </div>
          <%# -----------cart items------------------- %>
          <div id="id01" class="w3-modal" style = "padding:5px;border:1px solid black;">
            <div class="w3-modal-content  w3-padding-16">
              <div class="w3-container w3-text-black w3-padding-16">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-blue">&times;</span>
              <% @cart.each do |cart_item| %>
                <span><h5><%= cart_item.name %></h5></span>
                <%= image_tag cart_item.image.variant(resize_to_limit: [40,40]) ,style: "max-width:100%;" %>
                  
                <%= link_to "Remove from cart", remove_from_cart_path(cart_item), method: :delete , class:"btn btn-danger ml-5"%>
              <hr>
              <% end %>
              <%= link_to "order" , new_order_path %>
              </div>
            </div>
          </div>

        
<!-- Modal -->

         </div>
        <%# --------------Go to profile btn --------------------- %>
       
      <%# <% elsif @current_user.admin? %> %>
      <%# <%= link_to "Log Out", destroy_admin_session_path , method: :delete, class: "nav-item m-3 text-white text-decoration-none btn btn-danger float-right" %> %>
      
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: " w3-padding-large w3-hover-red w3-hide-small w3-right w3-button w3-blue", style: "margin-top:12px; margin-right:15px;"%> 
    
         <div class="w3-dropdown-hover" style = "margin-top:12px; margin-right:10px;float:right">
              <button class="w3-button w3-blue w3-padding-large">Log in</button>
              <div class="w3-dropdown-content w3-bar-block w3-border">
                <%= link_to " User Log In", new_user_session_path , style: "text-decoration:none ", class: "w3-bar-item w3-button"%>
               <%= link_to " Admin Log In", new_admin_session_path ,class: "w3-bar-item w3-button"%>
              </div>
        </div>

    <% end %>
      
    </div>
</div>
