
<div class = "row">
    <div class = "col-lg-2 mt-5"><br>
    <%=  render 'admin/side-bar' %>
    </div>

    <div class = "col-lg-10 ">
    <br><br>
    <%# <%=  render 'admin/header' %> 
    </div>
<div class="container border my-5">

    <div class="row">
        <div class="col-sm-6 ml-5" >
        
        
            <h1 class = "text-center">New Category</h1><br>

            <%= render 'form' , product: @category %>
            <%= link_to 'Back' , categories_path , class:"btn btn-primary float-right mr-5 "%> <br>
              <%# <%= render "categories/error", resource: @category %> 
        </div>
    </div>
    <br>
</div>